# Deployed TipJar contract address on Ethereum Sepolia
NEXT_PUBLIC_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3

# Public or QuickNode read-only Sepolia RPC URL
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

# Target EVM Network Chain ID (11155111 for Ethereum Sepolia)
NEXT_PUBLIC_CHAIN_ID=11155111
